.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  display: block;
  justify-content: left;
  padding: 1em 2em;
  background: transparent;
  border: 1px solid rgb(61, 65, 64);
  border-radius: 3px;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1;
  width: calc(100% - 4em - 2px);
}

.book {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align:left;
  width: 100%;
}

@media (min-width: 992px) {
  .book {
    width: calc(50% - 2rem);
  }
}

.details {
  float: left;
  width: 100%;
  padding: 5px;

  h1 {
    max-width: calc(100% - 50px);
  }
}

ul {
  padding: 10px;
}

ul li {
  display: inline;
}

ul li:first-child {
  list-style: none;
}

.author {
  font-size: 18px;
}

.description {
  max-width: 98%;
  display: inline-block;
} 