@import "./mixins";

#logo {
  height: 350px;
  width: auto;
  border: none;
}

img {
  padding: 20px;
  background-color: white;
  height: 200px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include md {
    height: 250px;
    width: auto;
  }
  @include lg {
    height: 300px;
    width: auto;
  }
  @include xl {
    height: 400px;
    width: auto;
  }
}

.actionIcon {
  height: 40px;
  width: auto;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
