@import "./bookItem";
@import "./buttons";
@import "./images";
@import "./mixins";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
}

#app {
  color: #2c3e50;
  margin-top: 60px;
  text-align: center;
}

h3 {
  display: flex;
  justify-content: left;
}
  